$thin-border-width: 1px;
$fat-border-width: 3px;

$box-border-style: solid;
$letter-border-style: dashed;

$square-size: 150px;

$a-border-color: blue;
$b-border-color: green;
$c-border-color: crimson;
