* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.note {
    background: yellow;
    padding: 5px;
}

.note h4 {
    text-align: center;
}

.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
}

.navbar {
    display: flex;
    background-color: #333;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}

.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

.bigimg {
    height: 200px;
    border-radius: 10px;
}

.smallimg {
    height: 60px;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}

@media screen and (max-width: 900px) and (min-width: 600px), (min-width: 1100px) {
    .fakeimg {
        background-color: goldenrod;
        width: 100%;
        padding: 20px;
    }   
}