.bordered {
    border: 2px solid lightseagreen;
}

.demo-rel {
    position: relative;
    top: 10px;
    border: 2px groove red;
}

.demo-rel2 {
    position: relative;
    width: 600px;
    height: 600px;
    border: 1px solid greenyellow;
    padding: 10px;
}

.demo-abs {
    position: absolute;
    color: aquamarine;
    border: 2px solid violet;
    top: 150px;
    left: 1px;
    right: 1px;
    margin: 20px;
    padding: 30px;
}

.m-demo-b {
    margin-bottom: 50px;
}

.m-demo-t {
    margin-top: 10px;
}

.div-out-m {
    margin: 5px 0px;
}

.p-out-m {
    margin: 10px 0px;
}

body {
    margin: 0;
}

#header {
    background-color: darkred;
    color: white;
    padding: 1px 0px;
}

#header h1 {
    margin: 20px 0px 10px 0px;
    background-color: red;
}

#header p {
    margin: 5px 0px;
}