#header {
    background-color: pink;
}

#content {
    background-color: peachpuff;
    position: relative;
}

#footer {
    background-color: aliceblue;
}

#author {
    background-color: floralwhite;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 150px;
}